<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>REGISTER</h1>
        <div class="container col-6">
            <div class="card " style="max-width: 1000px;">
                <div class="row g-0">
                  <div class="col-6 md-4">
                    <img src="{%static 'image/login.png.png' %}" class="img-fluid rounded-start" alt=".." style="height: 500px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">

                        <form action="" method="post">

                            {%csrf_token%}
                        
                            {{form}}
                        
                            <button type="submit">REGISTER</button>
                        </form>
    
                        
                      
                    </div>
                  </div>
                </div>
              </div>
        </div><br><br>
    </center>

</body>
</html>




